extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
  p This line has an un-escaped string: !{'<em> is emphasised</em>'}, an escaped string: #{'<em> is not emphasised</em>'}, and escaped variables: #{title}.
  a(href='http://someurl/') Link text 
  | Plain text